.app {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-around;

    
    .settings {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    table {
        border: 1px solid #000;

        td {
            border: 1px solid #000;
        }
    }
}
